.header__menu{
    height: 50px;
    width: 100vw;
    background-color: #3b5998;
    display: flex;
    align-items: center;
}

.header__img {
    height: 30px;
    width: 30px;
    padding-left: 190px;
}

.header__search{
    height: 30px;
    border-radius: 5px;
    border: none;
    outline: none;
    width: 500px;
    padding-left: 10px;
    margin-left: 15px;
}

.header__avatar{
    height: 30px;
    width: 30px;
    border-radius: 3px;
    padding-left: 275px;
}

.header__menu > span{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 10px;
}

.header__hr{
    width: 0px;
    height: 30px;
    margin-left: 10px;
    margin-right: 10px;
}


.header__friends{
    margin-left: 25px;
}

.header__msg{
    width: 18px;
}